## Tiempo con `datetime`

Una fecha en `Python` no es un tipo de dato por si mismo, pero podemos trabajar con estos objetos tan peculiares con el módulo `datetime`

In [1]:
import datetime as dt

Para obtener la fecha y hora actual, podemos usar el método .datetime.now()

In [2]:
today = dt.datetime.now()
print(today)

2023-06-22 22:29:08.393026

In [3]:
type(today)

datetime.datetime

Observación. Dentro del módulo datetime, existe la clase datetime. Para evitar confusiones hemos renombrado al módulo datetime por dt

En el resultado anterior vemos que se nos muestra el año, mes, día, hora, minuto, segundo e incluso microsegundo.

Podemos acceder a toda esa información con los atributos

* `.year`: año
* `.month`: mes
* `.day`: día
* `.hour`: hora
* `.minute`: minuto
* `.second`: segundo

In [4]:
print("Año:", today.year)
print("Mes:", today.month)
print("Día:", today.day)
print("Hora:", today.hour)
print("Minuto:", today.minute)
print("Segundo:", today.second)
print("Microsegundo:", today.microsecond)

Año: 2023
Mes: 6
Día: 22
Hora: 22
Minuto: 29
Segundo: 8
Microsegundo: 393026

### Creando objetos `datetime`

Para crear objetos `datetime` podemos usar el método `.datetime()`. 

Este método toma como parámetros el año (`year`), mes (`month`), día (`day`), hora (`hour`), minuto (`minute`), segundo (`second`) y microsegundo (`microsecond`). Los 3 primeros, relacionados con la fecha, son parámetros obligatorios. Los parámetros restantes, los relacionados con el tiempo, son opcionales.

In [5]:
d = dt.datetime(2020, 9, 22, 12, 30)
print(d)

2020-09-22 12:30:00

Observación. El método .datetime() toma un parámetro adicional, tzinfo, que también es opcional. A este parámetro se le suministra la zona horaria. Por defecto toma el valor None.

### Formato

El módulo `datetime` ofrece el método `.strftime()` para cambiar el formato en que mostramos la fecha y hora. En el parámetro `format` de este método podemos indicar alguna de las siguientes opciones

| Código | Descripción |
| :---: | :--- |
| `%Y` | Año, versión completa |
| `%y` | Año, versión abreviada (sin siglo) |
| `%B` | Mes, versión completa (idioma inglés) |
| `%b` | Mes, versión abreviada (idioma inglés) |
| `%m` | Mes, versión numérica |
| `%d` | Día del mes |
| `%j` | Día del año, 001-366 |
| `%A` | Día de la semana, versión completa (idioma inglés) |
| `%a` | Día de la semana, versión abreviada (idioma inglés)|
| `%w` | Día de la semana, versión numérica (0 = Domingo, 1 = Lunes, ..., 6 = Sábado) |
| `%W` | Semana del año, con lunes como primer día |
| `%U` | Semana del año, con domingo como primer día |
| `%H` | Hora, 00-23 |
| `%I` | Hora, 00-12 |
| `%p` | AM / PM |
| `%M` | Minuto, 00-59 |
| `%S` | Segundo, 00-59 |
| `%f` | Microsegundo, 000000-999999 |
| `%Z` | Zona horaria |
| `%z` | Offset de UTC |
| `%c` | Versión local de fecha y hora |
| `%x` | Versión local de fecha |
| `%X` | Versión local de hora |
| `%%` | Caracter `%` |
| `%G` | Año ISO 8601 |
| `%u` | Día de la semana ISO 8601 |
| `%V` | Semana del año ISO 8601 |

**Observación.** Cuando decimos offset de UTC, nos referimos a la cantidad de horas a las que se encuentra la zona horaria del Tiempo Universal Coordinado (UTC)

In [6]:
d = dt.datetime(2020, 9, 22, 12, 30)

In [7]:
print(d.strftime("%B %d, %Y"))

September 22, 2020

In [8]:
print(d.strftime("%d/%m/%Y"))

22/09/2020

In [9]:
print(d.strftime("%d %b %y"))

22 Sep 20

In [10]:
print(d.strftime("%d-%m-%Y %H:%M:%S"))

22-09-2020 12:30:00

In [11]:
print(d.strftime("%d %b %Y, %I:%M%p"))

22 Sep 2020, 12:30PM

Al hablar de formato de fechas, es importante estar familiarizados con el concepto ISO 8601, presente en la tabla anterior. Se trata de un estándar internacional para la representación de fechas y horas.

`Python` consta de un método que genera rápidamente una fecha formateada con ISO 8601: el método `.isoformat()`

In [12]:
d.isoformat()

'2020-09-22T12:30:00'

Es hora de hablar del método opuesto a .strftime(). Se trata del método .strptime(), que nos permite crear un objeto datetime a partir de un string. No obstante, como el string puede tener cualquier formato, habrá que indicarle por parámetro a .strptime() cuál estamos usando.

In [13]:
dt.datetime.strptime("September 22, 2020", "%B %d, %Y")

datetime.datetime(2020, 9, 22, 0, 0)

In [14]:
dt.datetime.strptime("22/09/2020", "%d/%m/%Y")

datetime.datetime(2020, 9, 22, 0, 0)

In [15]:
dt.datetime.strptime("22 Sep 20", "%d %b %y")

datetime.datetime(2020, 9, 22, 0, 0)

In [16]:
dt.datetime.strptime("22-09-2020 12:30:00", "%d-%m-%Y %H:%M:%S")

datetime.datetime(2020, 9, 22, 12, 30)

In [17]:
dt.datetime.strptime("22 Sep 2020, 12:30PM", "%d %b %Y, %I:%M%p")

datetime.datetime(2020, 9, 22, 12, 30)

¡Cuidado! El patrón debe coincidir a la perfección. Eso incluye las comas, los : y los espacios en blanco.

## Series temporales

A veces es útil tener índices que son intervalos temporales

In [20]:
import numpy as np
import pandas as pd
from pandas import Series
idia = pd.date_range('12/30/2022', periods=45)
print(idia)
serie = Series(np.random.randint(30,size=45),idia)
serie

DatetimeIndex(['2022-12-30', '2022-12-31', '2023-01-01', '2023-01-02',
               '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06',
               '2023-01-07', '2023-01-08', '2023-01-09', '2023-01-10',
               '2023-01-11', '2023-01-12', '2023-01-13', '2023-01-14',
               '2023-01-15', '2023-01-16', '2023-01-17', '2023-01-18',
               '2023-01-19', '2023-01-20', '2023-01-21', '2023-01-22',
               '2023-01-23', '2023-01-24', '2023-01-25', '2023-01-26',
               '2023-01-27', '2023-01-28', '2023-01-29', '2023-01-30',
               '2023-01-31', '2023-02-01', '2023-02-02', '2023-02-03',
               '2023-02-04', '2023-02-05', '2023-02-06', '2023-02-07',
               '2023-02-08', '2023-02-09', '2023-02-10', '2023-02-11',
               '2023-02-12'],
              dtype='datetime64[ns]', freq='D')

2022-12-30     8
2022-12-31     9
2023-01-01     1
2023-01-02     9
2023-01-03     2
2023-01-04    24
2023-01-05    29
2023-01-06    28
2023-01-07     3
2023-01-08     0
2023-01-09     9
2023-01-10    20
2023-01-11     4
2023-01-12    25
2023-01-13     1
2023-01-14    23
2023-01-15    19
2023-01-16    25
2023-01-17     2
2023-01-18    17
2023-01-19    13
2023-01-20    17
2023-01-21    13
2023-01-22     8
2023-01-23    24
2023-01-24     7
2023-01-25    24
2023-01-26    21
2023-01-27    18
2023-01-28    24
2023-01-29    28
2023-01-30    23
2023-01-31    27
2023-02-01    22
2023-02-02    29
2023-02-03    11
2023-02-04     8
2023-02-05    19
2023-02-06    10
2023-02-07    18
2023-02-08    15
2023-02-09    28
2023-02-10    11
2023-02-11     2
2023-02-12     0
Freq: D, dtype: int64

Se puede cambiar la frecuencia:

    Alias 	Description
    B 	business day frequency
    C 	custom business day frequency
    D 	calendar day frequency
    W 	weekly frequency
    M 	month end frequency
    SM 	semi-month end frequency (15th and end of month)
    BM 	business month end frequency
    CBM 	custom business month end frequency
    MS 	month start frequency
    SMS 	semi-month start frequency (1st and 15th)
    BMS 	business month start frequency
    CBMS 	custom business month start frequency
    Q 	quarter end frequency
    BQ 	business quarter end frequency
    QS 	quarter start frequency
    BQS 	business quarter start frequency
    A, Y 	year end frequency
    BA, BY 	business year end frequency
    AS, YS 	year start frequency
    BAS, BYS 	business year start frequency
    BH 	business hour frequency
    H 	hourly frequency
    T, min 	minutely frequency
    S 	secondly frequency
    L, ms 	milliseconds
    U, us 	microseconds
    N 	nanoseconds

In [21]:
idia = pd.date_range('12/11/2019 16:00:00', periods=15, freq='T')
print(idia)
seriea = Series(np.random.randint(30,size=15),idia)
seriea

DatetimeIndex(['2019-12-11 16:00:00', '2019-12-11 16:01:00',
               '2019-12-11 16:02:00', '2019-12-11 16:03:00',
               '2019-12-11 16:04:00', '2019-12-11 16:05:00',
               '2019-12-11 16:06:00', '2019-12-11 16:07:00',
               '2019-12-11 16:08:00', '2019-12-11 16:09:00',
               '2019-12-11 16:10:00', '2019-12-11 16:11:00',
               '2019-12-11 16:12:00', '2019-12-11 16:13:00',
               '2019-12-11 16:14:00'],
              dtype='datetime64[ns]', freq='T')

2019-12-11 16:00:00    26
2019-12-11 16:01:00    10
2019-12-11 16:02:00    10
2019-12-11 16:03:00    23
2019-12-11 16:04:00     9
2019-12-11 16:05:00     3
2019-12-11 16:06:00    16
2019-12-11 16:07:00     8
2019-12-11 16:08:00     7
2019-12-11 16:09:00     9
2019-12-11 16:10:00    27
2019-12-11 16:11:00     5
2019-12-11 16:12:00    28
2019-12-11 16:13:00    12
2019-12-11 16:14:00     1
Freq: T, dtype: int64

In [22]:
idib = pd.date_range('12/11/2019 16:00:00', periods=15, freq='2T')
print(idib)
serieb = Series(np.random.randint(30,size=15),idib)
serieb

DatetimeIndex(['2019-12-11 16:00:00', '2019-12-11 16:02:00',
               '2019-12-11 16:04:00', '2019-12-11 16:06:00',
               '2019-12-11 16:08:00', '2019-12-11 16:10:00',
               '2019-12-11 16:12:00', '2019-12-11 16:14:00',
               '2019-12-11 16:16:00', '2019-12-11 16:18:00',
               '2019-12-11 16:20:00', '2019-12-11 16:22:00',
               '2019-12-11 16:24:00', '2019-12-11 16:26:00',
               '2019-12-11 16:28:00'],
              dtype='datetime64[ns]', freq='2T')

2019-12-11 16:00:00     1
2019-12-11 16:02:00    16
2019-12-11 16:04:00    10
2019-12-11 16:06:00     2
2019-12-11 16:08:00    27
2019-12-11 16:10:00     9
2019-12-11 16:12:00     5
2019-12-11 16:14:00     4
2019-12-11 16:16:00    24
2019-12-11 16:18:00     4
2019-12-11 16:20:00    18
2019-12-11 16:22:00     5
2019-12-11 16:24:00    21
2019-12-11 16:26:00     4
2019-12-11 16:28:00    23
Freq: 2T, dtype: int64

In [23]:
seriea+serieb

2019-12-11 16:00:00    27.0
2019-12-11 16:01:00     NaN
2019-12-11 16:02:00    26.0
2019-12-11 16:03:00     NaN
2019-12-11 16:04:00    19.0
2019-12-11 16:05:00     NaN
2019-12-11 16:06:00    18.0
2019-12-11 16:07:00     NaN
2019-12-11 16:08:00    34.0
2019-12-11 16:09:00     NaN
2019-12-11 16:10:00    36.0
2019-12-11 16:11:00     NaN
2019-12-11 16:12:00    33.0
2019-12-11 16:13:00     NaN
2019-12-11 16:14:00     5.0
2019-12-11 16:16:00     NaN
2019-12-11 16:18:00     NaN
2019-12-11 16:20:00     NaN
2019-12-11 16:22:00     NaN
2019-12-11 16:24:00     NaN
2019-12-11 16:26:00     NaN
2019-12-11 16:28:00     NaN
dtype: float64

In [24]:
seriea

2019-12-11 16:00:00    26
2019-12-11 16:01:00    10
2019-12-11 16:02:00    10
2019-12-11 16:03:00    23
2019-12-11 16:04:00     9
2019-12-11 16:05:00     3
2019-12-11 16:06:00    16
2019-12-11 16:07:00     8
2019-12-11 16:08:00     7
2019-12-11 16:09:00     9
2019-12-11 16:10:00    27
2019-12-11 16:11:00     5
2019-12-11 16:12:00    28
2019-12-11 16:13:00    12
2019-12-11 16:14:00     1
Freq: T, dtype: int64

In [25]:
serieb

2019-12-11 16:00:00     1
2019-12-11 16:02:00    16
2019-12-11 16:04:00    10
2019-12-11 16:06:00     2
2019-12-11 16:08:00    27
2019-12-11 16:10:00     9
2019-12-11 16:12:00     5
2019-12-11 16:14:00     4
2019-12-11 16:16:00    24
2019-12-11 16:18:00     4
2019-12-11 16:20:00    18
2019-12-11 16:22:00     5
2019-12-11 16:24:00    21
2019-12-11 16:26:00     4
2019-12-11 16:28:00    23
Freq: 2T, dtype: int64

In [26]:
seriec = seriea+serieb
seriec

2019-12-11 16:00:00    27.0
2019-12-11 16:01:00     NaN
2019-12-11 16:02:00    26.0
2019-12-11 16:03:00     NaN
2019-12-11 16:04:00    19.0
2019-12-11 16:05:00     NaN
2019-12-11 16:06:00    18.0
2019-12-11 16:07:00     NaN
2019-12-11 16:08:00    34.0
2019-12-11 16:09:00     NaN
2019-12-11 16:10:00    36.0
2019-12-11 16:11:00     NaN
2019-12-11 16:12:00    33.0
2019-12-11 16:13:00     NaN
2019-12-11 16:14:00     5.0
2019-12-11 16:16:00     NaN
2019-12-11 16:18:00     NaN
2019-12-11 16:20:00     NaN
2019-12-11 16:22:00     NaN
2019-12-11 16:24:00     NaN
2019-12-11 16:26:00     NaN
2019-12-11 16:28:00     NaN
dtype: float64