<em style="text-align:center">Copyright Iván Pinar Domínguez</em>

## 0.Importar librerías iniciales e instancia de modelo de chat

In [1]:
from langchain_openai import ChatOpenAI
from langchain.prompts import PromptTemplate, SystemMessagePromptTemplate,ChatPromptTemplate, HumanMessagePromptTemplate
from langchain.agents import load_tools,initialize_agent,AgentType,create_react_agent,AgentExecutor
f = open('../OpenAI_key.txt')
api_key = f.read()
llm = ChatOpenAI(openai_api_key=api_key,temperature=0) #Recomendable temperatura a 0 para que el LLM no sea muy creativo, vamos a tener muchas herramientas a nuestra disposición y queremos que sea más determinista

## 1.Conectamos a la BBDD SQL

In [3]:
import mysql.connector #pip install mysql-connector-python

In [4]:
f = open('../password_sql.txt')
pass_sql = f.read()
# Configuración de la conexión a la base de datos
config = {
    'user': 'root',       
    'password': pass_sql, 
    'host': '127.0.0.1',         
    'database': 'world'          
}

In [5]:
# Conectar a la base de datos
conn = mysql.connector.connect(**config)
cursor = conn.cursor()

# 2. Ejecutamos consulta manualmente (sin agentes Langchain)

In [6]:
# Definir la consulta manualmente: tengo una base de datos mysql en mi computadora local denominada "world" y una tabla "Country" 
#sobre la que quiero hacer la suma de la población en la columna "Population" para el continente Asia (columna "Continent")
query = """
    SELECT SUM(Population)
    FROM Country
    WHERE Continent = 'Asia';
    """

# Ejecutar la consulta
cursor.execute(query)
result = cursor.fetchone()

In [7]:
suma_poblacion = result[0] if result[0] is not None else 0
print(f"La suma de la población del continente Asia es: {suma_poblacion}")

La suma de la población del continente Asia es: 3705025700

## 3.Creamos el agente SQL

In [9]:
from langchain_community.agent_toolkits import create_sql_agent
from langchain.sql_database import SQLDatabase

In [11]:
# Crear una cadena de conexión a la base de datos MySQL
connection_string = f"mysql+mysqlconnector://{config['user']}:{config['password']}@{config['host']}/{config['database']}"

# Crear una instancia de la base de datos SQL
db = SQLDatabase.from_uri(connection_string)

In [13]:
agent = create_sql_agent(
    llm,
    db=db,
    verbose=True
)

In [15]:
agent.invoke("Dime la población total de Asia")

> Entering new SQL Agent Executor chain...
I need to find the total population of Asia in the database.
Action: sql_db_query_checker
Action Input: SELECT SUM(population) FROM countries WHERE continent = 'Asia'SELECT SUM(population) FROM countries WHERE continent = 'Asia';I should now execute the query to get the total population of Asia.
Action: sql_db_query
Action Input: SELECT SUM(population) FROM countries WHERE continent = 'Asia'Error: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'world.countries' doesn't exist
[SQL: SELECT SUM(population) FROM countries WHERE continent = 'Asia']
(Background on this error at: https://sqlalche.me/e/14/f405)I need to check the available tables in the database to find the correct table name for countries.
Action: sql_db_list_tables
Action Input: city, country, countrylanguageThe 'countries' table does not exist, I should use the 'country' table instead.
Action: sql_db_query_checker
Action Input: SELECT SUM(population) FROM country WHERE continent = 'Asia'SELECT SUM(population) FROM country WHERE continent = 'Asia';I should now execute the corrected query to get the total population of Asia.
Action: sql_db_query
Action Input: SELECT SUM(population) FROM country WHERE continent = 'Asia'[(Decimal('3705025700'),)]The total population of Asia is 3,705,025,700
Final Answer: 3,705,025,700

> Finished chain.

{'input': 'Dime la población total de Asia', 'output': '3,705,025,700'}

In [19]:
result = agent.invoke("Dime el promedio de la esperanza de vida por cada una de las regiones ordenadas de mayor a menor")

> Entering new SQL Agent Executor chain...
I need to calculate the average life expectancy for each region and then sort them from highest to lowest.
Action: sql_db_query
Action Input: SELECT region, AVG(life_expectancy) AS average_life_expectancy FROM table_name GROUP BY region ORDER BY average_life_expectancy DESCError: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'world.table_name' doesn't exist
[SQL: SELECT region, AVG(life_expectancy) AS average_life_expectancy FROM table_name GROUP BY region ORDER BY average_life_expectancy DESC]
(Background on this error at: https://sqlalche.me/e/14/f405)I need to find out the correct table name before running the query.
Action: sql_db_list_tables
Action Input: city, country, countrylanguageI should use the table "country" for this query.
Action: sql_db_query
Action Input: SELECT region, AVG(life_expectancy) AS average_life_expectancy FROM country GROUP BY region ORDER BY average_life_expectancy DESCError: (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'life_expectancy' in 'field list'
[SQL: SELECT region, AVG(life_expectancy) AS average_life_expectancy FROM country GROUP BY region ORDER BY average_life_expectancy DESC]
(Background on this error at: https://sqlalche.me/e/14/f405)I need to check the schema of the "country" table to find the correct column for life expectancy.
Action: sql_db_schema
Action Input: country
CREATE TABLE country (
	`Code` CHAR(3) NOT NULL DEFAULT '',
	`Name` CHAR(52) NOT NULL DEFAULT '',
	`Continent` ENUM('Asia','Europe','North America','Africa','Oceania','Antarctica','South America') NOT NULL DEFAULT 'Asia',
	`Region` CHAR(26) NOT NULL DEFAULT '',
	`SurfaceArea` FLOAT(10, 2) NOT NULL DEFAULT '0.00',
	`IndepYear` SMALLINT,
	`Population` INTEGER NOT NULL DEFAULT '0',
	`LifeExpectancy` FLOAT(3, 1),
	`GNP` FLOAT(10, 2),
	`GNPOld` FLOAT(10, 2),
	`LocalName` CHAR(45) NOT NULL DEFAULT '',
	`GovernmentForm` CHAR(45) NOT NULL DEFAULT '',
	`HeadOfState` CHAR(60),
	`Capital` INTEGER,
	`Code2` CHAR(2) NOT NULL DEFAULT '',
	PRIMARY KEY (`Code`)
)DEFAULT CHARSET=latin1 ENGINE=InnoDB

/*
3 rows from country table:
Code	Name	Continent	Region	SurfaceArea	IndepYear	Population	LifeExpectancy	GNP	GNPOld	LocalName	GovernmentForm	HeadOfState	Capital	Code2
ABW	Aruba	North America	Caribbean	193.0	None	103000	78.4	828.0	793.0	Aruba	Nonmetropolitan Territory of The Netherlands	Beatrix	129	AW
AFG	Afghanistan	Asia	Southern and Central Asia	652090.0	1919	22720000	45.9	5976.0	None	Afganistan/Afqanestan	Islamic Emirate	Mohammad Omar	1	AF
AGO	Angola	Africa	Central Africa	1246700.0	1975	12878000	38.3	6648.0	7984.0	Angola	Republic	JosÃ© Eduardo dos Santos	56	AO
*/I see that the column for life expectancy is named "LifeExpectancy" in the "country" table.
Action: sql_db_query
Action Input: SELECT region, AVG(LifeExpectancy) AS average_life_expectancy FROM country GROUP BY region ORDER BY average_life_expectancy DESC[('Australia and New Zealand', 78.8), ('Nordic Countries', 78.33333), ('Western Europe', 78.25556), ('British Islands', 77.25), ('Southern Europe', 76.52857), ('North America', 75.82), ('Eastern Asia', 75.25), ('Caribbean', 73.05833), ('Central America', 71.025), ('South America', 70.94615), ('Polynesia', 70.73333), ('Middle East', 70.56667), ('Eastern Europe', 69.93), ('Baltic Countries', 69.0), ('Micronesia', 68.08571), ('Melanesia', 67.14), ('Northern Africa', 65.38571), ('Southeast Asia', 64.4), ('Southern and Central Asia', 61.35), ('Western Africa', 52.74118), ('Eastern Africa', 50.81053), ('Central Africa', 50.31111), ('Southern Africa', 44.82), ('Antarctica', None), ('Micronesia/Caribbean', None)]I now know the final answer.
Final Answer: The average life expectancy for each region, from highest to lowest, is as follows:
1. Australia and New Zealand: 78.8
2. Nordic Countries: 78.33
3. Western Europe: 78.25
4. British Islands: 77.25
5. Southern Europe: 76.53
6. North America: 75.82
7. Eastern Asia: 75.25
8. Caribbean: 73.06
9. Central America: 71.03
10. South America: 70.95
11. Polynesia: 70.73
12. Middle East: 70.57
13. Eastern Europe: 69.93
14. Baltic Countries: 69.0
15. Micronesia: 68.09
16. Melanesia: 67.14
17. Northern Africa: 65.39
18. Southeast Asia: 64.4
19. Southern and Central Asia: 61.35
20. Western Africa: 52.74
21. Eastern Africa: 50.81
22. Central Africa: 50.31
23. Southern Africa: 44.82
24. Antarctica: N/A
25. Micronesia/Caribbean: N/A

> Finished chain.

In [23]:
# Mostrar el resultado
print(result["output"])

The average life expectancy for each region, from highest to lowest, is as follows:
1. Australia and New Zealand: 78.8
2. Nordic Countries: 78.33
3. Western Europe: 78.25
4. British Islands: 77.25
5. Southern Europe: 76.53
6. North America: 75.82
7. Eastern Asia: 75.25
8. Caribbean: 73.06
9. Central America: 71.03
10. South America: 70.95
11. Polynesia: 70.73
12. Middle East: 70.57
13. Eastern Europe: 69.93
14. Baltic Countries: 69.0
15. Micronesia: 68.09
16. Melanesia: 67.14
17. Northern Africa: 65.39
18. Southeast Asia: 64.4
19. Southern and Central Asia: 61.35
20. Western Africa: 52.74
21. Eastern Africa: 50.81
22. Central Africa: 50.31
23. Southern Africa: 44.82
24. Antarctica: N/A
25. Micronesia/Caribbean: N/A

In [5]:
# Para utilizar few-shoots para las consultas SQL: https://python.langchain.com/v0.1/docs/use_cases/sql/agents/